.btn {
  margin: 2rem 0rem;
  width: 12rem;
}
.table {
  padding: 1rem;
  margin-top: 5rem;
}
table:hover {
  cursor: pointer;
}
.lead {
  margin-top: 1rem;
  padding: 1rem;
}
.lead p {
  padding: 0.3rem;
}
.lead span {
  color: blue;
}
table {
  padding: 1rem;
  border-collapse: collapse;
}
table th {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  background-color: black;
  color: white;
}
table td {
  text-align: center;
  padding: 1rem;
  border-bottom: 1px black solid;
  border-right: 1px black solid;
}
table tr:hover {
  color: blue;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.92rem;
  padding: 1.5rem 0;
  border: 0.1px solid black;
}

.delivered {
  /* color: rgb(15, 236, 15); */
  color: #0ed915;
}
.processing {
  color: #ff9800;
}
.pending {
  color: #9e9e9e;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .table {
    width: 100%;
    padding: 5px;
    overflow-x: auto;
    max-width: 40rem;
    margin-left: 8rem;
    font-size: 1.2rem;
  }
  .table h2 {
    margin-left: 0rem;
  }
  .lead {
    margin-left: 0rem;
  }
  .btn {
    margin: 2rem 0rem;
  }
}

@media screen and (max-width: 640px) {
  .table {
    width: 100%;
    padding: 5px;
    overflow-x: auto;
    max-width: 40rem;
  }
  .table h2 {
    margin-left: 2rem;
  }
  .lead {
    margin-left: 1rem;
  }
  .btn {
    margin: 2rem 2rem;
  }
}
