.cardClass{
    margin: 6rem auto;
    width: 50%;
} 

.cardClass h2{
    text-align: center;
}
.cardClass .control label{
    display: block;
    margin-top: 1rem;
}
.cardClass .control input{
    display: block;
    margin-top: 1rem;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    font: inherit;
    padding: 0.5rem;
}

.action .btn{
    width: 100%;
    /* padding: 0.1rem 2.2rem; */
    padding: 0.3rem 10.75rem;    
}

 
