.container {
  width: 100%;  
}
.product {
  width: 65%;
  margin: 0;
  display: flex;
  padding: 1rem;
  gap: 3rem;
  
}

.image{
  width: 45%;
}
.image img{
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  width: 30rem;
}
.content p {
  padding: 0.5rem;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 30rem;
  height: 5rem;
  margin-top: 10rem;
}

.counter{
  display: flex;
  align-items: center;
  
}
.counter > * {
  margin-right: 0.5rem;
  margin-top: 1rem;
  /*This adds a margin of 1rem{right & top} to the direct children of counter. */
}

.clearcart-checkout {
  display: flex;
  justify-content: right;
  position: fixed;
  top: 7rem;
  right: 2rem;
  width: 25%;
}

.checkoutSummary {
  width: 30rem;
  padding: 2rem;
}
.checkoutSummary .deliveryParagraph{
  margin-top: 1rem;
}
.subtotal {
  padding: 1rem;
}
.action {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
}
.btn1 {
  color: red;
  padding:1rem;
}
.btn2 {
  padding:1rem;
}


/* Media query *==================================================================*/
@media screen and (min-width:641px) and (max-width:1024px){

  .container {
    width: 100%;
    overflow: scroll;
  }
  .image {
    width: 100%;
  }
  .container > p {
    text-align: center;
  }
  .content p{
    font-size: x-large;
  }
  .product {
    width: 100%;
    display: flex;
    flex-direction: column;    
    gap: 0rem;
    overflow-x: hidden;
  }

  .left{
    margin-left: 5rem;
  }
  .right{
     display: flex;
    justify-content: flex-start;
    gap: 3rem;
    width: 100%;
    margin-top: 0;
  }


  .trash{margin-left: 5rem;}
  .btn, .counter p{
    margin-left: 1rem;
  }
  
  .action{
    display: flex;
    justify-content: space-between;
  }

  .btn {
    width: 5rem;
    font-size: 1.5rem;
  }
  .clearcart-checkout {
    position: static;
    margin-top: 2rem;
    width: 100%;
    
  }
  .checkoutSummary{
    text-align: center;
    width: 100%;  
  }

}

/* @media screen and (max-width: 768px) { */
@media screen and (max-width: 640px) {
  .container {
    width: 100%;
    overflow: scroll;
  }
  .container > p {
    text-align: center;
  }
  .product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    overflow-x: hidden;
  }

  .right {
    width: 100%;
    margin-top: 0;
  }


  .btn {
    width: 5rem;
  }
  .clearcart-checkout {
    position: static;
    margin-top: 2rem;
    width: 100%;
    
  }
  .checkoutSummary{
    text-align: center;
    width: 100%;
  
  }
}
