.control input{
    width: 100%;
}
.action{
    margin-top: -1.5rem;
}

.coupon-discount{
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    /* margin-left:  -1.5rem; */
    flex-wrap: wrap;
    font-size: 1rem;
}
.have-A-coupon{
    display: flex;
    justify-content: space-between;
}
/* .remove-coupon{
    margin: 0;
} */