.product-detail-container{
    width: 100%;
    z-index: 200;
    position: relative;
}
.content{
    display: flex;
    width: 100%;
    margin: 2rem auto;
    justify-content: space-between;
}
.main-image{
    width: 38%;
    height: 60vh;
}
.main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.product-reviews h2{
    border-bottom: yellow solid 0.1rem;
}

.details{
    width: 60%;
}
.details .ul{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: start;
    align-items: start;
} 
.details .ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 0.5rem 0;
}
.action{
    display: flex;
    justify-content: center;
}
.actionOne{
    display: flex;
    gap: 1rem;
    /* justify-content: right; */
}
.btn{
    text-align: center;
    padding: 0.2rem 2rem;
}
.btnRed{
    background-color: red;
}

/*================================ edit review stuff ================*/
.editCardClass{
    width: 40%;
    position: absolute;
    top: 35rem;
    left: 0;
    z-index: 500;
}

.edit-content{
    width: 100%;
}
.edit-action{
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:641px) and (max-width:1024px){
    .product-detail-container{
        width: 100%;
        position: relative;
        /* background-color: red; */
        
    }
    .top h2{
        text-align: center;
    }
    .top p {
        margin-left: 1.5rem;
    }
    .content{
        width: 95%;
    }
}


@media screen and (max-width:640px){
    .product-detail-container{
        width: 100%;
        position: relative;
        /* background-color: yellow; */
    }
    .product-detail-container h2{
        text-align: center;
    }
    .top p{
        margin-left: -13rem;
    }
    .content{
        display: flex;
        flex-direction: column;
        width: 98%;
    }
    .main-image {
        width: 80%;
    }
    .details{
        margin-top: 20%;
        width: 95%;
    }
    .editCardClass{
        width: 90%;
    }
}